<div class="d-flex align-items-center justify-content-center">
    <div class="card mt-5 mb-5 w-75">
        <div class="card-body">
            <h2 class="mb-4">Sign In</h2>
            <form action="/user/login" method="post">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="email" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Sign In</button>
            </form>
        </div>
    </div>
</div>