<div class="d-flex align-items-center justify-content-center">
    <div class="card mt-5 mb-5 w-75">
        <div class="card-body">
            <h2 class="mb-4">Sign Up</h2>
            <form action="/user/register" method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Username</label>
                    <input type="text" class="form-control" id="name" name="name" aria-describedby="username" >
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="email" required>
                    <div id="emailHelp" class="form-text">Username and email are unique on the platform</div>
                </div>
                <label for="password" class="form-label">Password</label>
                <div class="mb-3 input-group">
                    <input type="password" class="password-field form-control" id="password" name="password" required>
                    <button type="button" onclick="changeInputType()" class="password-icon input-group-addon"></button>
                </div>
                <div class="mb-3">
                    <label for="confirm_password" class="form-label">Confirm Password</label>
                    <input type="password" class="confirm-password-field form-control" id="confirm_password" name="confirm_password" required>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Sign Up</button>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/viewPasswordRegister.js"></script>